.shop {
  grid-row: content-s/content-e;
  grid-column: s/e;

  display: grid;
  grid-template-rows: 37px [search-bar-s] 80px [search-bar-e products-s] 1fr [products-e];
  grid-template-columns: [s] minmax(100px, 1035px) [e];
  justify-content: center;

  &__search-bar {
    grid-row: search-bar-s/search-bar-e;
    grid-column: s/e;
  }

  &__products {
    grid-row: products-s/products-e;
    grid-column: s/e;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    width: 100%;
    justify-self: center;
  }

  &__cart,
  &__cart-button {
    // grid-row: 1/-1;
    // grid-column: 1/-1;
    // align-self: start;
    // justify-self: end;

    position: absolute;
    top: 450px;
    right: 0px;
  }
}
