.payment {
  grid-row: content-s/content-e;
  grid-column: s/e;
  margin-bottom: 100px;
}

.payment-form {
  display: grid;
  grid-template-rows:
    [name-s] 64px [name-e card-s] 64px [card-e expiration-ccv-s] 64px [expiration-ccv-e] minmax(
      20px,
      81px
    )
    [line-s] 26px [line-e buttons-s] 38px [buttons-e];

  grid-template-columns: [back-s] 137px [back-e space-s] 40px [space-e pay-complete-s] 1fr [pay-complete-e] 1fr;
  grid-row-gap: 20px;

  &__name {
    grid-row: name-s/name-e;
  }

  &__card {
    grid-row: card-s/card-e;
  }

  &__expiration,
  &__ccv {
    grid-row: expiration-ccv-e/expiration-ccv-e;
    grid-column: back-s;
    input {
      width: 200px;
    }
  }

  &__ccv {
    transform: translateX(226px);
  }

  &__line {
    grid-row: line-s/line-e;
    border-top: 3px solid $light-grey;
    margin-bottom: 26px;
    grid-column: 1/-1;
  }
  &__back {
    grid-row: buttons-s/buttons-e;
    grid-column: back-s/back-e;
  }
  &__pay-complete {
    grid-row: buttons-s/buttons-e;
    grid-column: pay-complete-s/pay-complete-e;
  }
  &__order-summary {
    grid-row: name-s;
    grid-column: pay-complete-e/-1;
    justify-self: end;
  }
}
