.details {
  display: grid;
  grid-row-gap: 13px;

  &__title {
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 600;
  }

  &__links {
    display: grid;
    grid-row-gap: 10px;
    font-size: 14px;

    & > * {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
