.form-input {
  display: grid;
  grid-gap: 6.5px;

  & > * {
    padding-left: 20px;
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    color: #333;
    font-size: 18px;
  }
}

.form-button {
  &__button {
    height: 38px;
    width: 243px;
    border-radius: 20px;
    background-color: #00cb79;
    font-size: 16px;
    color: white;

    &:focus {
      outline: none;
    }
  }
}
