.form-input {
  display: grid;
  grid-gap: 6.5px;

  & > * {
    padding-left: 20px;
  }

  &__label {
    font-size: 14px;
    font-weight: 700;
  }

  &__input {
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    border: 3px solid $light-grey;
    font-size: 14px;
    transition: 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
}

.form-button {
  &__button {
    width: 180px;
    color: $blue;
    border: 3px solid $blue;
    background-color: white;
    @include btn();
  }
  &__grey-button {
    border-color: $dark-grey !important;
    color: $dark-grey;
    background-color: white;
    width: 137px;
    border: 3px solid $dark-grey;
  }
}
