.form-input {
  display: grid;
  grid-gap: 6.5px;

  & > * {
    padding-left: 20px;
  }

  &__label {
    font-size: 14px;
    font-weight: 700;
  }

  &__input {
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    border: 3px solid $light-grey;
    font-size: 14px;
    transition: 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
}

.form-button {
  &__button {
    height: 40px;
    width: 180px;
    font-size: 18px;
    color: $blue;
    font-family: "Paytone One";
    border: 3px solid $blue;
    transition: 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: rotate(5deg);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  &__grey-button {
    border-color: $dark-grey !important;
    color: $dark-grey;
    width: 137px;
  }
}
