@import "variables";
@import "layout";
@import "header-nav";
@import "page-title";
@import "form-fields";
@import "details";

// AUTH
@import "auth/signin";
@import "auth/signup";

// ACCOUNT
@import "account/purchase-history";
@import "account/account-information";
@import "account/account";

// SHOP
@import "shop/shop";
@import "shop/shop-search-bar";

// QUANTITY
@import "quantity";

@import "purple-price-tag";

html {
  font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans";
}

body {
  overflow-x: hidden;
  font-weight: normal;
  color: $dark-grey;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1rem;
}

// .purchase-history {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   width: 100vw;
//   background: url("../../static/assets/0.5x/bird-logo-background.png");
//   background-repeat: round space;
//   background-size: 5%;
//
//   .bird-banner {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     width: 600px;
//     height: 250px;
//     background-color: white;
//
//     h1 {
//       font-size: 125px;
//       font-family: "Paytone One";
//       color: $purple;
//       margin-bottom: -30px;
//     }
//
//     h2 {
//       font-size: 36px;
//       color: $blue;
//       font-family: "Paytone One";
//       margin-left: 160px;
//     }
//   }
// }
