@import "layout";
@import "header-nav";
@import "auth/signin";
@import "auth/signup";
@import "page-title";
@import "form-fields";

html {
  font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans";
}

body {
  overflow-x: hidden;
  font-weight: normal;
  color: #808080;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1rem;
}
