.purchase-history {
  grid-row: content-s/content-e;
  grid-column: s/e;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px 0;
  }

  &__page-title {
    border-bottom: 3px solid $light-grey;
  }

  &__border-bottom {
    border-bottom: 3px solid $light-grey;
  }
}

.purchases {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 80px);
  width: 360px;
}

.purchase-detail {
  width: 600px;
  display: grid;
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-template-rows: [s] 1fr [sm] 1fr [m-s] 25px [m-e] 1fr [me] 1fr [e];
  &__order-date {
    grid-column: s/m;
    grid-row: s/sm;
  }

  &__order-number {
    grid-column: s/m;
    grid-row: sm/m-s;
  }

  &__shipping {
    grid-column: s/m;
    grid-row: m-e/e;
  }

  &__total {
    grid-column: m/e;
    grid-row: s/sm;
  }

  &__credit-card {
    grid-column: m/e;
    grid-row: sm/m-s;
  }

  &__track-shipment {
    grid-column: m/e;
    grid-row: m-e/me;
  }

  &__print-receipt {
    grid-column: m/e;
    grid-row: me/e;
  }

  &__track-shipment,
  &__print-receipt {
    color: $purple;
    font-size: 14px;
    font-weight: 700;
    justify-self: center;
    width: 150px;
  }
}

.purchase-detail-label {
  display: grid;
  grid-template-rows: [s] 1fr [e];
  grid-template-columns: [s] 1fr [m] 1fr [e];
  grid-gap: 10px;

  & > * {
    grid-row: s/e;
  }

  &__title {
    grid-column: s/m;
    text-align: right;
    font-weight: 700;
    font-size: 14px;
  }

  &__value {
    grid-column: m/e;
    text-align: left;
    font-size: 14px;
    color: $dark-grey;
  }
}
