.purchase-history {
  grid-row: content-s/content-e;
  grid-column: s/e;

  &__page-title {
    border-bottom: 3px solid $light-grey;
  }

  &__border-bottom {
    border-bottom: 3px solid $light-grey;
  }
}

.purchases {
}

.purchase-detail {
}
