.review-form {
  &__legend {
    grid-row: legend-s/legend-e;
    grid-column: 1/-1;
    border-bottom: 3px solid $light-grey;
    padding-bottom: 20px;
  }
  &__products {
    grid-column: 1/-1;
    grid-row: products-s/products-e;
    overflow-y: scroll;

    display: grid;
    grid-template-rows: repeat(auto-fit, 80px);
    grid-row-gap: 30px;
  }
  &__line {
    grid-column: 1/-1;
    grid-row: line-s/line-e;
    border-top: 3px solid $light-grey;
    margin-bottom: 24px;
  }
  &__back {
    grid-column: back-s/back-e;
    grid-row: buttons-s/buttons-e;
  }
  &__proceed {
    grid-column: proceed-s/proceed-e;
    grid-row: buttons-s/buttons-e;

    .form-button__button {
      width: 220px;
    }
  }
  &__details {
    grid-row: buttons-s/buttons-e;
    grid-column: 1/-1;
    justify-self: end;
    align-self: end;
    transform: translateX(-40px) translateY(40px);
  }
}

.review-details {
  &__shipping {
  }
  &__tax {
  }
  &__total {
  }
}

.review-detail,
.review-detail-purple {
  display: grid;
  grid-template-rows: [title-s] 1fr [title-e] 65px [price-s] 1fr [price-e];
  grid-template-rows: 1fr;
  &__title {
    grid-row: title-s/title-e;
    width: 40px;
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: right;
    margin-right: 65px;
    font-size: 14px;
  }
  &__price {
    grid-row: price-s/price-e;
    grid-column: 2/3;
    grid-row: 1/-1;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
  }
}

.review-detail-purple {
  &__title,
  &__price {
    font-size: 18px;
    font-weight: 700;
    color: $purple;
    margin-top: 20px;
  }
}
